@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR|PT+Sans:400,700&display=swap");
@import "bg.css";
@import "todo.css";
@import "greeting.css";
@import "weather.css";
@import "git-icon.css";

body {
  font-family: "PT Sans", "Noto Sans KR";
  /* padding-top: 100px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #353b48;
  color: white;
}

.js-clock {
  height: 120px;
  font-size: 64px;
}
.js-clock h1 {
  margin: 0px;
}
