@import url("https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap");

body {
  font-family: "Caveat", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 700px;
  background-image: url("1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.clock-title {
  color: white;
  font-size: 48px;
  font-weight: 700;
}

.clock-title h2 {
  margin-bottom: 0px;
}

.js-clock {
  color: white;
  font-size: 36px;
}

.js-clock h3 {
  margin-top: 10px;
}
